<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <title>Employees List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container-fluid">
    <p class="h3 mb-3">Employee List</p>
    <hr>
    <a sec:authorize="hasRole('MANAGER') || hasRole('ADMIN')" th:href="@{/employees/showEmployeeForm}" class="btn btn-primary  btn-sm mb-3">Add Employee</a>

    <form th:action="@{/logout}" method="POST"><input class="btn btn-primary  btn-sm mb-3" type="submit" value="Logout"></form>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Marital Status</th>
            <th>Phone Number</th>
            <th>Hire Date</th>
            <th>Job ID</th>
            <th>Salary</th>
            <th>Commission PCT</th>
            <th>Manager ID</th>
            <th>Department ID</th>
            <th>Address</th>
            <th sec:authorize="hasRole('MANAGER') || hasRole('ADMIN')">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="employee : ${employeesList}">
            <td th:text="${employee.employeeId}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.maritalStatus}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td th:text="${employee.hireDate}"></td>
            <td th:text="${employee.jobId}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.commissionPct}"></td>
            <td th:text="${employee.managerId}"></td>
            <td th:text="${employee.departmentId}"></td>
            <td><a th:href="@{/employees/showAddress(employeeId=${employee.employeeId})}">Address</a></td>
            <td sec:authorize="hasRole('MANAGER') || hasRole('ADMIN')">
                <a sec:authorize="hasRole('MANAGER') || hasRole('ADMIN')" th:href="@{/employees/showUpdateForm(employeeId=${employee.employeeId})}" class="btn btn-info btn-sm">UPDATE</a>
                <form th:action ="@{/employees/delete(employeeId=${employee.employeeId})}" th:method="delete">
                <input sec:authorize="hasRole('ADMIN')" type="submit" class = "btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are you sure you want to delete this employee?'))) return false" value="DELETE">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>